$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$white: #ffffff;
$light-pink: #f3c6dc;
$pink: #f1b6d2;
$coral: #ef3965;
$dark-coral: #cb3056;
$sand: #f4ddae;
$dark-sand: #e7b67f;
$brown: #9a856d;
$aqua: #03A696;
$dark-aqua: #039486;


$dark-purple: #484e78;
$light-purple: #666b8f;
$plum: #9d81a2;
$light-plum: #ba99c0;
$light-olive: #d0c675;
$dark-olive: #beb66d;
$teal: #009875;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding:0px;
    margin:0px;
    font-family: 'Lato', sans-serif;
    color: $white;
}

h1 {
    font-weight: 400;
    font-size: 1.5em;
    margin: .2em 0;
}
h2 {
    font-weight: 100;
    font-size: 1.3em;
    font-style: italic;
    margin: .5em 0;
}
h3 {
    font-weight: 800;
    font-size: 3.7em;
    margin: .2em 0 .5em 0;
}
h4 {
    font-weight: 600;
    font-size: 3.5em;
    margin: .2em 0 .5em 0;
}

h5 {
    font-size: 1.5em;
    font-weight: 200;
    margin: .2em 0 1em 0;
}

.btn {
    margin: .5em 0;
}

.nav {
    background: $coral;
    text-align: center;
    border: none;
    ul {
        // display: inline-block;
        // list-style-type: none;
        // margin: 0px;
        // padding: 0px;
        li {
            // float: left;
            // margin: 10px;
            a {
                color: $white !important;
                text-decoration: none;
            }
        }
    }
}

section {
    min-height: 600px;
    img {
        width: 100%;
    }
}

#home {
    background: $pink;
    text-align: center;
    padding: 150px 0px 100px 0px;
}

#code {
    background: $sand;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $dark-sand;
    border-bottom: solid 10px $dark-sand;
    color: $brown;
    img {
        margin-top: 50px;
    }
}

#cupcakes {
    background: $aqua;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $dark-aqua;
    border-bottom: solid 10px $dark-aqua;
    img {
        margin-top:50px;
    }
}

#mentors {
    background: $light-purple;
    text-align: center;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $dark-purple;
    border-bottom: solid 10px $dark-purple;
    .mentor {
        img {
           width: 50%; 
        }
    }
    h1 {
        margin-top: 20px;
    }
}

#signup {
    background: $pink;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $light-pink;
    border-bottom: solid 10px $light-pink;
    text-align: center;
    .margin-bottom {
        margin-bottom: 10px;
    }
    img {
        width: 70%;
    }
    ul {
        margin: 0px;
        padding: 0px;
    }
}

#contact {
    background: $white;
    padding: 150px 0px 100px 0px;
    border-top: solid 10px $teal;
    border-bottom: solid 10px $dark-coral;
    img {
        margin-bottom: 30px;
    }
    h4, h5, p{
        color: $teal;
    }
}

#footer {
    background: $coral;
    min-height: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 860px;
    }

    h2 {
        font-weight: 300;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#map-canvas {
    width: 275px;
    height: 275px;
    background-color: #CCC;
    border-radius: 5px;
    margin: 0px auto;
}
