<section id="code">
    <div class="container">
        <div class="col-md-4">
            <div class="row margin-top" ng-repeat="tools in cvm.tools | chunkBy:2">
                <div class="col-md-6" ng-repeat="tool in tools">
                    <a href="{{tool.url}}" target="_blank">
                        <img src="{{tool.img}}" alt="{{tool.name}}" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h4>The Code</h4>
            <h5>Computer programming may not be a common parent-daughter activity, but we're determined to change that.</h5>
            <h5>In the summer of 2014 we launched a pilot session specifically for mothers and daughters to learn to code, and it was a huge success! In 2015 the program ran every other month, and in 2016 we began providing a session every 2nd Saturday of the month through November. AND, we expanded the sessions to father-daughter combos! In 2018, we added a workshop focused on hardware -- Jewelbots!</h5>
            <h5>During the Web Development workshop, coding duos will envision themselves cupcake shop owners in need of creating a website to show off their baked goods. They'll learn website building from start to finish, doing everything from displaying their own copy to adding a color theme to suit their tastes to hosting their site on Github Pages. </h5>
            <h5>Jewelbots are friendship bracelets for the iPhone era. Technology-enabled jewelry for tween and teen girls, they're a means of communicating with friends by lighting up when a BFF is near or buzzing to send messages to a pal across the school.</h5>
        </div>
    </div>
</section>
