<section id="code">
    <div class="container">
        <div class="col-md-4">
            <div class="row margin-top" ng-repeat="tools in cvm.tools | chunkBy:2">
                <div class="col-md-6" ng-repeat="tool in tools">
                    <a href="{{tool.url}}" target="_blank">
                        <img src="{{tool.img}}" />
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <h4>The Code</h4>
            <h5>Building websites may not be a common mother-daughter activity, but we're determined to change that. </h5>
            <h5>Mom-dot duos will envision themselves cupcake shop owners in need of creating a website to show of their baked goods. They'll learn website building from start to finishing, doing everything from displaying their own copy to adding a color theme to suit their tastes. </h5>
            <h5>Dads, we love you, but this session is for mother &amp; daughter teams only!  It will be a fun, easy introduction to coding, so please encourage the ladies in your life to attend.</h5>
        </div>
    </div>
</section>