<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Our Next Event!</h4>
                <h6>HTML Workshop</h6>
                <h5 class="subtext">April 10th, 2021 at 1pm-2:30pm</h5>
                <a class="cc-Button cc-Button--primary" href="https://www.eventbrite.com/e/coding-cupcakes-april-html-workshop-tickets-145820530131?aff=cupcakesite" target="_blank">Register Here!</a>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-6 map">
                <h6>Proudly hosted by</h6>
                <a href="{{hvm.venue.url}}" target="_blank" alt="{{hvm.venue.name}}" class="host">
                    <img src="{{hvm.venue.img}}" alt="{{hvm.venue.name}}">
                </a>
                <p>{{hvm.venue.address}}</p>
                <ui-gmap-google-map center='hvm.map.center' zoom='hvm.map.zoom'>
                    <ui-gmap-marker coords="hvm.map.marker.coords" idkey="hvm.map.marker.id" options="hvm.map.marker.options"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div> -->
            <!-- <div class="col-md-6"> -->
            <div>
                <h6>Virtual Event</h6>
                <div class="announcement">We will be holding our virtual events all online through June 2021! We hope to see you there.</div>
                <h6>FAQs</h6>
                <!-- <h6>Thank you for your interest in Coding & Cupcakes!</h6>
                <div class="announcement">
                    <p>Coding & Cupcakes is on a short break - we plan to return in Q3 2020</p>
                    <p>In the meantime, please join us at <a href="http://coderdojokc.com/" target="_blank" style="display: inline-block;">CoderDojo KC</a>!</p>
                </div> -->
                <ul>
                  <li>One ticket per parent/daughter pair</li>
                  <li>No coding experience necessary!</li>
                  <li>One wifi-enabled laptop between each coding duo is required</li>
                  <li>The minumum age requirement is the ability to read, type, and use a mouse</li>
                  <li>While we're adapting to a virtual environment, we'll be providing opportunities to receive treats from local vendors. Keep an eye out for information after our events!</li>
                  <li>Please review Kansas City Women in Technology's
                    <a href="http://kansascitywomenintechnology.github.io/CodeOfConduct/" target="_blank">
                       Code of Conduct</a>
                  </li>
                </ul>
                <!-- <h6>2021 Session Dates</h6>
                <ul class="list-unstyled cc-u-text--center">
                    <li><b>Python: Games</b> - February 8</li>
                    <li><b>Web Development 1: HTML</b> - March 14</li>
                    <li><b>Web Development 2: CSS</b> - April 11</li>
                    <li><b>Web Development 3: JavaScript</b> - May 9</li>
                    <li><b>Kansas City Kids Conference</b> - June 28</li>
                    <li><b>Python: Games</b> - July 11</li>
                    <li><b>Web Development 1: HTML</b> - August 8</li>
                    <li><b>Web Development 2: CSS</b> - September 12</li>
                    <li><b>Web Development 3: JavaScript</b> - October 10</li>
                    <li><b>Python: Games</b> - November 14</li>
                </ul> -->
            </div>
        </div>
    </div>
</section>
