<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Our Next Workshop!</h4>
                <h5><b>Jewelbots!</b></h5>
                <h5 class="subtext">March 9th, 1-4pm</h5>
<a href="https://www.eventbrite.com/e/coding-cupcakes-march-jewelbots-workshop-tickets-56253735437?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=56253735437" alt="Eventbrite - Coding &amp; Cupcakes March: Jewelbots Workshop" /></a>        </div>
        <div class="row">
            <div class="col-md-6 map">
                <h6>Proudly hosted by</h6>
                <a href="{{hvm.venue.url}}" target="_blank" alt="{{hvm.venue.name}}" class="host">
                    <img src="{{hvm.venue.img}}" alt="{{hvm.venue.name}}">
                </a>
                <p>{{hvm.venue.address}}</p>
                <ui-gmap-google-map center='hvm.map.center' zoom='hvm.map.zoom'>
                    <ui-gmap-marker coords="hvm.map.marker.coords" idkey="hvm.map.marker.id" options="hvm.map.marker.options"></ui-gmap-marker>
                </ui-gmap-google-map>
                <p>Ample parking out front.</p>
            </div>
            <div class="col-md-6">
                <h6>FAQs</h6>
                <ul>
                  <li>One ticket per parent/sponsor</li>
                  <li>One ticket per daughter</li>
                  <li>No coding experience necessary!</li>
                  <li>One wifi-enabled laptop between each coding duo is required</li>
                  <li>The minumum age requirement is the ability to read, type, and use a mouse</li>
                  <li>Delicious cupcakes from BabyCakes will be provided for coding fuel!</li>
                  <li>Please review Kansas City Women in Technology's
                    <a href="http://kansascitywomenintechnology.github.io/CodeOfConduct/" target="_blank">
                       Code of Conduct</a>
                  </li>
                </ul>
              <!--  <h6>2018 Session Dates</h6>
                <ul>
                    <li><b>Web development</b> January 13th, 1pm-4pm</li>
                    <li><b>Jewelbots!</b> February 10th, 1pm-4pm</li>
                    <li><b>Web development</b> March 10th, 1pm-4pm</li>
                    <li><b>Jewelbots!</b> April 14th, 1pm-4pm</li>
                    <li><b>Web development</b> May 12th, 1pm-4pm</li>
                    <li><b>Jewelbots!</b> June 9th, 1pm-4pm</li>
                    <li><b>Jewelbots KCKC Edition</b> July 14th, 10am or 12:30pm</li>
                    <li><b>Web Development</b> August 11th, 1pm-4pm</li>
                    <li><b>Jewelbots!</b> September 8th, 1pm-4pm</li>
                    <li><b>Web Development</b> October 13th, 1pm-4pm</li>
                    <li><b>Jewelbots!</b> November 10th, 1pm-4pm</li>
                 </ul>
               -->
            </div>
        </div>
    </div>
</section>
