<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Sign Up!</h4>
                <h5 class="subtext">Upcomming Session: July 9th, 2016 2-5pm</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 map">
                <h6>Proudly hosted by</h6>
                <a href="{{hvm.venue.url}}" target="_blank" alt="{{hvm.venue.name}}" class="host">
                    <img src="{{hvm.venue.img}}" alt="{{hvm.venue.name}}">
                </a>
                <p>{{hvm.venue.address}}</p>
                <ui-gmap-google-map center='hvm.map.center' zoom='hvm.map.zoom'>
                    <ui-gmap-marker coords="hvm.map.marker.coords" idkey="hvm.map.marker.id" options="hvm.map.marker.options"></ui-gmap-marker>
                </ui-gmap-google-map>
                <p>Street parking is available on Main St and 17th St</p>
            </div>
            <div class="col-md-6">
                <h6>FAQs &amp; Session Dates</h6>
                <ul>
                  <li>One ticket per mother/sponsor</li>
                  <li>One ticket per daughter</li>
                  <li>No coding experience necessary!</li>
                  <li>One wifi-enabled laptop between each mother and daughter is required</li>
                  <li>The minumum age requirement is the ability to read, type, and use a mouse</li>
                  <li>Delicious cupcakes from BabyCakes will be provided for coding fuel!</li>
                  <li>Please review Kansas City Women in Technology's
                    <a href="http://kansascitywomenintechnology.github.io/CodeOfConduct/" target="_blank">
                       Code of Coduct</a>
                  </li>
                </ul>
                <a href="http://www.eventbrite.com/e/coding-cupcakes-july-tickets-25337306566?ref=ebtnebregn" target="_blank">
                  <img src="https://www.eventbrite.com/custombutton?eid=25337306566" alt="Eventbrite - Coding &amp; Cupcakes July" />
                </a>
                <ul>
                     <li><b>January 9th</b> 2-5pm</li>
                     <li><b>February 13th</b> 2-5pm</li>
                     <li><b>March 12th</b> 2-5pm</li>
                     <li><b>April 9th</b> 2-5pm</li>
                     <li><b>May 14th</b> 2-5pm</li>
                     <li><b>June 11th</b> 2-5pm</li>
                     <li><b>July 9th</b> 2-5pm</li>
                     <li><b>September 10th</b> 2-5pm</li>
                     <li><b>October 8th</b> 2-5pm</li>
                     <li><b>November 12th</b> 2-5pm</li>
                 </ul>
            </div>
        </div>
    </div>
</section>
